<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <img src="/assets/imgs/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">User</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <ul class="list-group list-group-flush" id="listaOpcionesUsuario">
                        <li class="list-group-item"><button type="button" class="btn btn-light" (click)="mostrarDatos()">Datos de usuario</button></li>
                        <li class="list-group-item"><button type="button" class="btn btn-light" (click)="mostrarMensajes()">Mensajes</button></li>
                        <li class="list-group-item"><button type="button" class="btn btn-light" (click)="eliminarCuenta()">Eliminar cuenta</button></li>
                      </ul>
                </ul>
            </div>
        </div>
        <div class="col-8">
            HOLA
        </div>
    </div>
</div>