
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Condensed:wght@100&family=Londrina+Solid&family=Patrick+Hand&family=Roboto+Flex:opsz,wght@8..144,300&family=Rokkitt:wght@100&display=swap');
.navbar {
  position: fixed;
  background-color:rgb(255, 255, 255);
  width: 100%;
  height: 8vh;
  font-family: 'Oleo';
}

button{
  color: black;
}

/* Asignar color a la barra de nav */
.navbar li a,
.navbar .navbar-brand {
  color: #000000;
  font-size: 18px;
}

a {
  margin-right: 20px;
}

/* cambia de color el link */
.navbar-nav li a:hover {
  color: rgb(0, 0, 0) ;
  background-color:#00000025;
  border-radius: 2em;
}


