
<!--<app-navbar></app-navbar>-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        

</head>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form id="form" #userForm="ngForm" (ngSubmit)="registerUser(userForm)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" [(ngModel)]="userService.userRegister.name" name="name" class="form-control" id="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" [(ngModel)]="userService.userRegister.lastname"  name="lastname" class="form-control" id="lastname" placeholder="lastname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" [(ngModel)]="userService.userRegister.email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="userService.userRegister.password" name="password" class="form-control" id="password"  placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <button type="submit"  value="login" class="btn float-right login_btn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Have an account?<a routerLink="/login" href="#">Sign in</a>
				</div>
			</div>
        </div>
    </div>
</div>
